<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SupscriptionKey" value="7c6ca37b2b094e5bacdd96dbb45b76fe"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=functionapp778fe8;AccountKey=zf7JXe/C4NZMoyqsmiGeGKzeLBwl+vNo1GI8KqxUg2h7eDbJl/YdaQpGe/Y3EfIibXvmBsWGVF3RAOa10mvpQw==" />
  </appSettings>
</configuration>